In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("data.csv")
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

# 1. Determine the no. of rows and no. of columns in the dataset

In [3]:
print("There are {} no. of rows and {} no. of columns".format(data.shape[0],data.shape[1]))

There are 23678 no. of rows and 21 no. of columns

# 2. Display the datatypes of each column

In [4]:
print("data type of each column \n \n",data.dtypes)

data type of each column

 Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# 3.Determine the row indexes of rows having all null values

In [5]:
a=data.index[data.isnull().all(axis=1)]
a

Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)

# 4. Determine the total number of empty rows and their percentage in whole dataset and remove them.

In [6]:
empty=np.where(data.isnull().all(axis=1))
for i in empty:
    print("total number of empty rows are : ",len(i))

total number of empty rows are :  131

In [7]:
percentage_of_empty=((131/data.shape[0])*100)
print("percentage of empty rows are :",percentage_of_empty)

percentage of empty rows are : 0.5532561871779711

In [8]:
data.drop(data.index[np.where(data.isnull().all(axis=1))],inplace=True)

In [9]:
data.reset_index(inplace=True)
data.shape

(23547, 22)

# 5.Determine the column names having missing values

In [10]:
print("columns having missing values are : \n\n",data.columns[data.isnull().sum()>0])

columns having missing values are :

 Index(['Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

# 6. Determine the missing values and their percentage in each column.

In [11]:
missing_val=data.isnull().sum()[data.isnull().sum()>0]
df=pd.DataFrame(missing_val)
df.reset_index(level=0, inplace=True)
df.columns=['column names','no. of missing values']
df['percentage%']=((df['no. of missing values']/data.shape[0])*100)
df.head(20)

     column names  no. of missing values  percentage%
0           Price                   5151    21.875398
1        Distance                      1     0.004247
2        Postcode                      1     0.004247
3        Bedroom2                   4481    19.030025
4        Bathroom                   4484    19.042766
5             Car                   4626    19.645815
6        Landsize                   6137    26.062768
7    BuildingArea                  13529    57.455302
8       YearBuilt                  12007    50.991634
9     CouncilArea                   7891    33.511700
10      Lattitude                   4304    18.278337
11     Longtitude                   4304    18.278337
12     Regionname                      1     0.004247
13  Propertycount                      1     0.004247

# 7.Determine the row indexes having missing values.

In [12]:
row_index_missing=data.index[data.isnull().any(1)]
row_index_missing

Int64Index([    0,     1,     3,     5,     7,     8,     9,    10,    12,
               13,
            ...
            23537, 23538, 23539, 23540, 23541, 23542, 23543, 23544, 23545,
            23546],
           dtype='int64', length=17351)

# 8.Determine the missing values and their percentage in each row.

In [13]:
row_missing_val=pd.DataFrame(data.index[data.isnull().sum(1)])
row_missing_val.columns=['number of missing values']
row_missing_val['percentage%']=((row_missing_val['number of missing values']/len(data.columns))*100)
row_missing_val

       number of missing values  percentage%
0                             3    13.636364
1                             2     9.090909
2                             0     0.000000
3                             3    13.636364
4                             0     0.000000
...                         ...          ...
23542                         2     9.090909
23543                         8    36.363636
23544                         4    18.181818
23545                         1     4.545455
23546                         2     9.090909

[23547 rows x 2 columns]

# 9.Determine the column names having more than 30% missing values and remove them from the dataset

In [14]:
col=data.isnull().sum()[data.isnull().sum()>0]
col=pd.DataFrame(col)
col.reset_index(0,inplace=True)
col.columns=['column names','no. of null values']
col['percentage']=((col['no. of null values']/data.shape[0])*100)
col

     column names  no. of null values  percentage
0           Price                5151   21.875398
1        Distance                   1    0.004247
2        Postcode                   1    0.004247
3        Bedroom2                4481   19.030025
4        Bathroom                4484   19.042766
5             Car                4626   19.645815
6        Landsize                6137   26.062768
7    BuildingArea               13529   57.455302
8       YearBuilt               12007   50.991634
9     CouncilArea                7891   33.511700
10      Lattitude                4304   18.278337
11     Longtitude                4304   18.278337
12     Regionname                   1    0.004247
13  Propertycount                   1    0.004247

In [15]:
# removing from the dataset:
col_30=col['column names'][col['percentage']>30.0]
print(col_30)

7    BuildingArea
8       YearBuilt
9     CouncilArea
Name: column names, dtype: object

In [16]:
data.drop(['BuildingArea','YearBuilt','CouncilArea'],axis=1,inplace=True)

In [19]:
data.drop(['index'],axis=1,inplace=True)

In [20]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,2.0,1.0,1.0,126.0,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,3.0,2.0,1.0,0.0,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0

# 10.Determine the number and percentage of rows having more than 5 missing values. If the percentage of such rows is less than 20% then remove all these rows.

In [21]:
df=data[data.isnull().sum(axis=1)>5]
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3.0,h,1000000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2.0,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2.0,u,542000.0,S,Dingle,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2.0,u,760000.0,SP,Biggin,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1.0,u,481000.0,SP,Purplebricks,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,Templestowe Lower,1/207 Manningham Rd,2.0,u,550000.0,PI,Barry,26-08-2017,12.4,3107.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,5420.0
23499,Thornbury,1/128 Dundas St,2.0,t,770000.0,PI,McGrath,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23502,Thornbury,111 Pender St,2.0,t,858000.0,S,Jellis,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23508,Toorak,21/1059 Malvern Rd,2.0,u,720000.0,VB,Beller,26-08-2017,4.1,3142.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
23531,Werribee,91 Latham St,4.0,h,540000.0,PI,Triwest,26-08-2017,14.7,3030.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,16166.0

In [23]:
df.shape
print("there are {} rows having having more than 5 missing values ".format(df.shape[0]))

there are 4278 rows having having more than 5 missing values

In [24]:
percentage=((df.shape[0]/data.shape[0])*100)
percentage

18.16791948018856

In [ ]:
#percentage is less than 20% there for dropping them

In [25]:
data.drop(data.index[data.isnull().sum(axis=1)>5],inplace=True)

In [26]:
data.shape

(19269, 18)

# 11.Display the description of data and percentage of missing values still left column wise

In [28]:
print(data.describe())

              Rooms         Price      Distance      Postcode      Bedroom2  \
count  19269.000000  1.508600e+04  19269.000000  19269.000000  19066.000000
mean       2.973117  1.066695e+06     10.204365   3110.015777      2.951956
std        0.978969  6.389331e+05      6.065786     93.730487      0.996032
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.400000e+05      6.100000   3049.000000      2.000000
50%        3.000000  9.000000e+05      9.200000   3102.000000      3.000000
75%        4.000000  1.320000e+06     13.000000   3150.000000      4.000000
max       12.000000  9.000000e+06     48.100000   3977.000000     30.000000

           Bathroom           Car       Landsize     Lattitude    Longtitude  \
count  19063.000000  18921.000000   17410.000000  19243.000000  19243.000000
mean       1.570897      1.626235     551.783458    -37.812434    145.000287
std        0.712684      0.974048    3544.288014      0.079926      0.106071
min        0.000000      0.000000       0.000000    -38.184180    144.431620
25%        1.000000      1.000000     181.000000    -37.859300    144.939300
50%        1.000000      2.000000     448.000000    -37.809700    145.004300
75%        2.000000      2.000000     656.000000    -37.759800    145.063100
max       12.000000     26.000000  433014.000000    -37.407580    145.526350

       Propertycount
count   19269.000000
mean     7490.249520
std      4319.566673
min       129.000000
25%      4442.000000
50%      6567.000000
75%     10331.000000
max     21650.000000

In [29]:
print("***** printing percentage of missing values still left column wise *****")
print('\n')
col=data.isnull().sum()[data.isnull().sum()>0]
col=pd.DataFrame(col)
col.reset_index(0,inplace=True)
col.columns=['column name','no of missing values']
col['percentage of missing values ']=((col['no of missing values']/data.shape[0])*100)
print(col)

***** printing percentage of missing values still left column wise *****


  column name  no of missing values  percentage of missing values
0       Price                  4183                      21.708444
1    Bedroom2                   203                       1.053506
2    Bathroom                   206                       1.069075
3         Car                   348                       1.806010
4    Landsize                  1859                       9.647621
5   Lattitude                    26                       0.134932
6  Longtitude                    26                       0.134932

# 12. Considering the 'Price' column as target variable which is to be predicted, how will you treat the missing values? #Give a brief explanation and treat the missing values in 'Price' column.'

In [30]:
print(data['Price'].describe())
print("\n")
print("is there any null value ?")
print("\n")
print("answer is :",data['Price'].isnull().any())

count    1.508600e+04
mean     1.066695e+06
std      6.389331e+05
min      8.500000e+04
25%      6.400000e+05
50%      9.000000e+05
75%      1.320000e+06
max      9.000000e+06
Name: Price, dtype: float64


is there any null value ?


answer is : True

In [31]:
# there are null values in the price column there fore filling with average price value

In [32]:
print(data['Price'].mean())

1066694.6291263422

In [33]:
data['Price'].replace(to_replace=np.nan,
    value=1066694.6291263422,inplace=True)

In [34]:
data['Price'].isnull().any()

False

# 13. Now check the percentage of missing values in each column again, if missing values exist, treat it with the most suitable method.

In [35]:
data.isnull().sum()[data.isnull().sum()>0]

Bedroom2       203
Bathroom       206
Car            348
Landsize      1859
Lattitude       26
Longtitude      26
dtype: int64

In [36]:
#yes there are missing values :
col=data.isnull().sum()[data.isnull().sum()>0]
col=pd.DataFrame(col)
col.reset_index(0,inplace=True)
col.columns=['column names','no. of null values']
col['percentage']=((col['no. of null values']/data.shape[0])*100)
col

  column names  no. of null values  percentage
0     Bedroom2                 203    1.053506
1     Bathroom                 206    1.069075
2          Car                 348    1.806010
3     Landsize                1859    9.647621
4    Lattitude                  26    0.134932
5   Longtitude                  26    0.134932

In [37]:
# filling/imputing values with average value:

data.replace(np.nan,data.mean(),inplace=True)

In [39]:
data.isnull().any()

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [40]:
data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

# 14. Now since you have completed your data cleaning, determine the number and percentage of columns removed

In [41]:
data.shape

(19269, 18)

In [43]:
print("the number of column remove are: ",21-len(data.columns))

the number of column remove are:  3

In [44]:
percentage =(3/21)*100
print("the percentage of coloumns removed are : ",percentage,"%")

the percentage of coloumns removed are :  14.285714285714285 %

# 15. Determine the number and percentage of rows removed in whole process. Also comment briefly that according to you the amount of data lost is justified or not

In [45]:
data.shape

(19269, 18)

In [46]:
print("the number of columns removed are: ",23678-len(data.index))

the number of columns removed are:  4409

In [47]:
percentage=(4409/23678)*100
print("the percentage of coloumns removed are : ",percentage,"%")

the percentage of coloumns removed are :  18.620660528760872 %

In [48]:
# accouring to me the amount of data lost is not justified becoz we lost 18% of our rows and 14% percent of columns
#lossing the row data simply may lead to underfitting of the model 
# we need a large data to train the model at its best
#therefore accourding to me it is not justified